/**
* CAHNRS Core
* @author Danial Bleile, Lesa McPeak
* @version 0.0.1
*/

/* -- Core Sub Layouts ----------------------------------------------- */

.core-sublayout-wrapper {
    display:table;
    width: 100%;
}

.core-sublayout-inner {
    display:table-row;
}

.core-layout-column {
    display:table-cell;
}

.core-sublayout-wrapper:after {
    content: "";
    clear: both;
    display: block;

}

.core-layout-right-column .core-layout-column.lc-column-two {
    width: 300px;
    box-sizing: border-box;
    padding-left: 14px;
}

.core-layout-right-column .core-layout-column.lc-column-one {
    padding-right: 14px;
}


/* Left column layout */

.core-layout-left-column .core-layout-column.lc-column-one {
    float: left;
    width: 300px;
    box-sizing: border-box;
    padding-right: 18px;
}

.core-layout-left-column .core-layout-column.lc-column-two {
    margin-left: 300px;
}

/* Menus */

.sub-layout-column-menu ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sub-layout-column-menu ul.menu > li {
    margin: 0;
    padding: 0;
}

.sub-layout-column-menu ul.menu > li > a {
    display: block;
    padding: 8px 18px;
}

@media screen and (max-width: 989px) {

    .core-sublayout-inner,
    .core-sublayout-wrapper {
        display:block;
    }

    .core-layout-right-column .core-layout-column.lc-column-one,
    .core-layout-left-column .core-layout-column.lc-column-one {
        float: none;
        width: auto;
        box-sizing: border-box;
        padding-right: 0;
        padding-left: 0;
        display: block;
    }

    .core-layout-right-column .core-layout-column.lc-column-two,
    .core-layout-left-column .core-layout-column.lc-column-two {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        width: auto;
        display: block;
    }
    
}